<!DOCTYPE html>
<html>

<head>
    <title>Welcome to FreeDev</title>
    <link rel="stylesheet" type="text/css" href="static/css/freelancer_reg_log.css">
</head>

<body>

    <h1>Hallo freelancer</h1>

    {% extends "base.html" %}

    {% block title %}Welcome to FreeDev{% endblock %}

    {% block head %}
    {{ super() }}

    {% endblock %}

    {% block content %}
    <h2>Welcome to FreeDev</h2>
    <p>Register or Login here</p>

    <form name='registration-form' id="registration-form" action='/register-freelancer' method='post' onsubmit="return validate()">
        <label>Name</label>
        <input name="name" type="text" placeholder="Enter your name" required>

        <label>Email Address</label>
        <input name="email-address" id="email" type="email" placeholder="Enter your email address" required>

        <label>Password</label>
        <input name="password" type="password" placeholder="Enter your password" required>

        <input type="submit">
    </form>

    <form name="login-form" action='/login-freelancer' method='post'>
        <label>Email Address</label>
        <input name="email-address" type="email" placeholder="Enter your email address" required>

        <label>Password</label>
        <input name="password" type="password" placeholder="Enter your password" required>

        <input type="submit">
    </form>

    {% endblock %}

    {% block footer %} hi {%endblock%}

    <!-- Link the JavaScript file -->
    <script src="static/js/validate-users.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>

</body>

</html>
