<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="H:\Sophomore\4th_Sem\COMP202\free_dev-2.3\app\static\js\validate-users.js"></script>

<script>

document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.delete-skill').forEach(button => {
        button.addEventListener('click', function() {
            const skillId = this.getAttribute('data-skill-id');
            deleteSkill(skillId);
        });
    });

    document.querySelectorAll('.delete-role').forEach(button => {
        button.addEventListener('click', function() {
            const roleId = this.getAttribute('data-role-id');
            deleteRole(roleId);
        });
    });

    function deleteSkill(skillId) {
        axios.post('/delete-skill', { id: skillId })
            .then(response => {
                alert('Skill deleted successfully!');
                location.reload();
            })
            .catch(error => {
                alert('Failed to delete skill');
                console.error(error);
            });
    }

    function deleteRole(roleId) {
        axios.post('/delete-role', { id: roleId })
            .then(response => {
                alert('Role deleted successfully!');
                location.reload();
            })
            .catch(error => {
                alert('Failed to delete role');
                console.error(error);
            });
    }

    // Your existing function for updateSkillsDropdown here
});


function updateSkillsDropdown() {
    var skillType = document.getElementById('skill_type').value;
    var skillInput = document.getElementById('skill_input');
    skillInput.innerHTML = ''; // Clear existing options
    
    // Predefined skills based on type
    var skills = skillType === 'language' ? 
        ["Java", "JavaScript", "Python", "C#", "C++", "Ruby", "PHP", "Swift", "Kotlin", "Go", "Rust", "TypeScript", "Shell", "R", "Scala", "Perl"] : 
        ["Django", "Flask", "Spring", "React", "Vue", "Angular", "Express.js", "Ruby on Rails", "Laravel", "ASP.NET", "Meteor.js", "Ember.js", "Backbone.js", "Knockout.js"];
    
    // Populate dropdown
    skills.forEach(function(skill) {
        var option = document.createElement('option');
        option.value = skill;
        option.textContent = skill;
        skillInput.appendChild(option);
    });
}

document.addEventListener('DOMContentLoaded', function() {
    // Handling form submission for adding roles
    const roleForm = document.getElementById('role-form');
    roleForm.addEventListener('submit', function(event) {
        event.preventDefault();  // Prevent standard form submission
        const formData = new FormData(roleForm);
        axios.post('/add-role', formData)
            .then(response => {
                alert('Role added successfully!');
                location.reload();  // Optionally reload or update UI accordingly
            })
            .catch(error => {
                alert('Failed to add role');
                console.error(error);
            });
    });

    const skillForm = document.getElementById('skill-form');
if (skillForm) {
    console.log('Skill form found, adding event listener.'); // This should appear in the console
    skillForm.addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent the default form submission behavior
        console.log('Submitting skill form via AJAX.'); // Check if this gets logged
        const formData = new FormData(skillForm);
        axios.post('/add-technical-skill', formData)
            .then(response => {
                alert('Skill added successfully!');
                location.reload();
            })
            .catch(error => {
                alert('Failed to add skill');
                console.error(error);
            });
    });
} else {
    console.log('Skill form not found.'); 
}


   
});

document.getElementById('skill_type').addEventListener('change', updateSkillsDropdown);


    </script>



{% extends "base.html" %}

{% block title %}Welcome to FreeDev{% endblock %}

{% block head %}
    {{ super() }}
    <style>
        body {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin: 0;
            padding: 0;
            width: 100%;
            font-family: American Typewriter, serif;
            background-color: #FFFAFA;
        }
    
        .profile-photo-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
            min-height: 220px;
        }
    
        .profile-photo {
            border-radius: 50%;
            width: 150px;
            height: 150px;
            object-fit: cover;
            border: 3px solid #dee2e6;
        }
    
        .profile-sections {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            padding: 20px 0;
            max-width: 1600px;
            margin: 20px auto;
        }
    
        .section {
            background: #ffffff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            margin: 10px;
            padding: 20px;
            flex-basis: calc(33% - 20px);
            text-align: center;
        }

        @media (max-width: 768px) {
            .section {
                flex-basis: calc(50% - 20px);
            }
        }
    
        ul {
            list-style-type: none;
            padding-left: 0;
            margin-top: 10px;
        }
    
        li {
            background: #f8f9fa;
            border-bottom: 1px solid #e9ecef;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 5px;
        }
    
        #user-name {
            font-size: 24px;
            margin-bottom: 5px;
        }
    
        .btn-primary {
            background-color: #7FBFB6;
            color: white;
            border: none;
            padding: 8px 16px;
            text-decoration: none;
            display: inline-block;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .btn-primary:hover {
            background-color: #0056b3;
        }

        .notifications-section {
            padding: 10px;
            margin: 10px 0;
            background-color: #f8f9fa;
            border-radius: 8px;
            width: 100%;
        }

        .notifications-section ul {
            padding-left: 0;
        }

        .notifications-section li {
            list-style-type: none;
            margin-bottom: 5px;
        }

        .alert {
            font-size: 0.9rem;
        }

        .job-postings-section {
            margin: 20px 0;
            width: 100%;
            max-width: 800px;
            background-color: #f8f9fa;
            border-radius: 8px;
            padding: 15px;
            overflow-y: auto;
            max-height: 400px;
        }

        .job-posting {
            padding: 15px;
            margin-bottom: 10px;
            border: 1px solid #e0e0e0;
            border-radius: 5px;
            background-color: #ffffff;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .upload-label {
            cursor: pointer;
            border-radius: 50%;
            display: inline-block;
            overflow: hidden;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/freelancer_update_profilepage.css') }}">
{% endblock %}

{% block content %}
<div class="button-container">
    <a href="{{ url_for('logout_user') }}" class="btn btn-primary logout-button">Logout</a>
    <a href="{{ url_for('profile_page') }}" class="btn btn-primary profile-button">Back to Profile</a>
</div>

<h2>Your Technical Skills</h2>
<ul id="existing_skills_list">
    {% for skill in user.skills %}
    <li>{{ skill.name }} ({{ skill.type }}) - Rating: {{ skill.rating }}
        <button class="delete-skill" data-skill-id="{{ skill.id }}">Delete</button>
    </li>
    {% endfor %}
</ul>

<section>
    <h2>Your Professional Roles</h2>
    <ul id="existing_roles_list">
        {% for role in user.roles %}
        <li>{{ role.role_name }} - Years: {{ role.exp_years }}
            <button class="delete-role" data-role-id="{{ role.id }}">Delete</button>
        </li>
        {% endfor %}
    </ul>

    <h2>Add Your Professional Role</h2>
    <form id="role-form" action="{{ url_for('add_role') }}" method="post">
        <select name="role_name" id="role_input" required>
            <option value="">Select a Role</option>
            <option value="Web Developer">Web Developer</option>
            <option value="Data Scientist">Data Scientist</option>
            <option value="Project Manager">Project Manager</option>
            <option value="Machine Learning Engineer">Machine Learning Engineer</option>
            <option value="Cybersecurity Specialist">Cybersecurity Specialist</option>
            <option value="Network Engineer">Network Engineer</option>
            <option value="Blockchain Developer">Blockchain Developer</option>
            <option value="Cloud Solutions Architect">Cloud Solutions Architect</option>
            <option value="Embedded Systems Engineer">Embedded Systems Engineer</option>
            <option value="UI/UX Designer">UI/UX Designer</option>
            <option value="Mobile App Developer">Mobile App Developer</option>
            <option value="Systems Analyst">Systems Analyst</option>
        </select>
        <select name="exp_years" id="exp_years" required>
            <option value="0">Less than one year</option>
            {% for year in range(1, 31) %}
            <option value="{{ year }}">{{ year }} year{{ 's' if year != 1 else '' }}</option>
            {% endfor %}
        </select>
        <button type="submit">Add Role</button>
    </form>
</section>

<section>
    <h2>Add Your Technical Skills</h2>
    <form id="skill-form" action="{{ url_for('add_technical_skill') }}" method="post">
        <select name="skill_type" id="skill_type" required onchange="updateSkillsDropdown()">
            <option value="">Select Skill Type</option>
            <option value="language">Programming Language</option>
            <option value="framework">Framework</option>
        </select>
        <select name="name" id="skill_input" required>
            <option value="">Select a Skill</option>
        </select>
        <select name="rating" id="rating_input" required>
            <option value="">Rate the Skill</option>
            <option value="1">1 - Beginner</option>
            <option value="2">2 - Novice</option>
            <option value="3">3 - Competent</option>
            <option value="4">4 - Proficient</option>
            <option value="5">5 - Expert</option>
        </select>
        <button type="submit">Add Technical Skill</button>
    </form>
</section>
{% endblock %}