suggestions-container {
    background: white;
    position: absolute;
    cursor: pointer;
    width: 100%;
    display: none;
}

.suggestions-container div {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.suggestions-container div:hover {
    background-color: #f9f9f9;
}