<!-- this is the opening page which extends the base.html file-->
{% extends "base.html" %}

{% block title %}Welcome to FreeDev{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <style>
        .selected {
            background-color: lightblue; /* Change the background color to indicate selection */
        }
    </style>
{% endblock %}

{% block content %}
<h1>Welcome to FreeDev</h1>
<form action="{{ url_for('search') }}" method="get">
    <input type="text" id="search-box" name="query" placeholder="Search..." autocomplete="off">
    <button type="submit">Search</button>
</form>

<p>Sign up</p>
<div class="button-container">
    <button id="employer-btn" onclick="toggleRegistrationForm('employer')">Employer</button>
    <button id="freelancer-btn" onclick="toggleRegistrationForm('freelancer')">Freelancer</button>
</div>
<div id="employer-registration" class="registration-form" style="display: none;">
    <form name='employer-registration-form' action='/register-user' method='post' onsubmit="validateRegistration(event)">
        <label>Name</label>
        <input name="name" type="text" placeholder="Enter your name" required>

        <label>Email Address</label>
        <input name="email-address" type="email" placeholder="Enter your email address" required>

        <label>Password</label>
        <input name="password" type="password" placeholder="Enter your password" required>
        <input type="hidden" name="role" value="employer">
        <input type="submit">
    </form>
</div>
<div id="freelancer-registration" class="registration-form" style="display: none;">
    <form name='freelancer-registration-form' action='/register-user' method='post' onsubmit="validateRegistration(event)">
        <label>Name</label>
        <input name="name" type="text" placeholder="Enter your name" required>

        <label>Email Address</label>
        <input name="email-address" type="email" placeholder="Enter your email address" required>

        <label>Password</label>
        <input name="password" type="password" placeholder="Enter your password" required>
        <input type="hidden" name="role" value="freelancer">
        <input type="submit">
    </form>
</div>
<p>If you already have an account, <a onclick="redirectToLogin()">login here</a>.</p>
<script>
    function validateRegistration(event) {
        event.preventDefault(); // Prevent default form submission

        var form = event.target;
        var email = form.elements['email-address'].value;
        var role = form.elements['role'].value;

        // AJAX request to check if user exists
        axios.post('/validate-registration', { email: email })
            .then((response) => {
                if (response.data.user_exists) {
                    alert('User with provided email already exists. Please use a different email address.');
                } else {
                    // If user doesn't exist, proceed with form submission
                    form.submit();
                }
            })
            .catch((error) => {
                console.error('Error validating registration:', error);
            });
    }

    function toggleRegistrationForm(role) {
        var employerBtn = document.getElementById('employer-btn');
        var freelancerBtn = document.getElementById('freelancer-btn');
        var employerForm = document.getElementById('employer-registration');
        var freelancerForm = document.getElementById('freelancer-registration');

        if (role === 'employer') {
            employerBtn.classList.add('selected'); // Add selected class to highlight the employer button
            freelancerBtn.classList.remove('selected'); // Remove selected class from freelancer button
            employerForm.style.display = 'block';
            freelancerForm.style.display = 'none';

        } else if (role === 'freelancer') {
            freelancerBtn.classList.add('selected'); // Add selected class to highlight the freelancer button
            employerBtn.classList.remove('selected'); // Remove selected class from employer button
            freelancerForm.style.display = 'block';
            employerForm.style.display = 'none';
        }
    }

    function redirectToLogin() {
        window.location.href = "/main-login-page";
    }
</script>

<script src="{{ url_for('static', filename='js/validate-users.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>

{% endblock %}

{% block footer %}  {% endblock %}